CompileFlags:
  Add:
    - "-Idriver/include"
    - "-Ifirmware/src"
    - "-I/usr/include/dbus-1.0"
    - "-I/usr/lib/x86_64-linux-gnu/dbus-1.0/include"
  Remove:
    - "-m*"
    - "-f*"

Diagnostics:
  UnusedIncludes: Strict
  MissingIncludes: Strict

InlayHints:
  Enabled: Yes
  ParameterNames: Yes
  DeducedTypes: Yes

Hover:
  ShowAKA: Yes